
#logo {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 30px;
    color: #00b54e;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 18px;
        }
.container {
   background-color: #E8CE9D;
   height: 600px;
}
.container_head {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.container_txt {
   font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.main {
    font-family: comic sans MS;
    font-size: 1.25vw;
}

.subtext {
    font-family: comic sans MS;
    font-size: 0.75vw;
    margin-left: 5%;
 }
           

.clicked {
    color: black;
    background-color: blue;
    margin-left: 150px;
}


